.admin-header-container {
    height: 70px;
    width: 100.85%;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    background-color: #f5f5f5;

    .admin-header-page {
        color: black;

        .admin-header-left {
            display: flex;
            margin-left: 31px;
        }
    }
}