.header-page {
    .header-button {
        background-color: white;
        height: 20px;
        margin-top: 5px;
        padding: 10px;
        font-size: 16px;
        // margin-right: 50px;


        &:hover {
            color: #5797fe;
            cursor: pointer;

        }


    }

    .content-lecturer {

        &:hover {
            color: #5797fe;
        }
    }
}